<section class="container p-2 pb-4">
  <div class="text-center">
    <p class="fs-custom-header text-info"
       matTooltip="hours: minutes: seconds"
       matTooltipPosition="above"
    >{{stopwatchValue | async | timeFormat}}
    </p>

    <div class="d-flex justify-content-center gap-4">
      <button mat-button
              color="primary"
              disabled="{{stopwatchIsRunStatus | async}}"
              class="p-1 fs-4 p-2 border border-dark"
              (click)="runWatch()">Run
      </button>
      <button mat-button
              color="accent"
              class="p-1 fs-4 p-2 border border-dark"
              (click)="pauseWatch()">Pause
      </button>
      <button mat-button
              color="warn"
              class="p-1 fs-4 p-2 border border-dark"
              (click)="resetWatch()">Stop
      </button>
    </div>
  </div>
</section>
